{% extends 'booking/base2.html' %}

{% block content %}
  <h1>bookig</h1>

  <br/><br/>
<center>
  {% if submitted %}
      Your booking was submitted
      Successfully!!
    {% else%}
      <div class="container my-5">
        <center>
        <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" id="nav-Johannesburg-tab" data-bs-toggle="tab"
                data-bs-target="#nav-Johannesburg" type="button" role="tab" aria-controls="nav-Johannesburg"
                aria-selected="true">Johannesbur</a></li>
            <li class="nav-item"><a class="nav-link" id="nav-Cpt-tab" data-bs-toggle="tab"
                data-bs-target="#nav-Cpt" type="button" role="tab" aria-controls="nav-Cpt"
                aria-selected="false">Cape town</a></li>
            <li class="nav-item"><a class="nav-link" id="nav-Durban-tab" data-bs-toggle="tab"
                data-bs-target="#nav-Durban" type="button" role="tab" aria-controls="nav-Durban"
                aria-selected="false">Durban</a></li>
          </ul>
        
        <div class="tab-content" id="nav-tabcontent">
            <div class="tab-pane fade show active p-3" id="nav-Johannesburg" role="tabpanel"
            aria-labelledby="nav-Johannesburg-tab">
            <h2>Jozi</h2>
            <form>
                
                <div class="col-4">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="live">
                  <label class="form-check-label" for="inlineRadio1">live</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="remote">
                  <label class="form-check-label" for="inlineRadio2">remote</label>
                </div>
                </div>
    
                <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                  <option selected>please select a month</option>
                  <option value="1">Jan</option>
                  <option value="2">Feb</option>
                  <option value="3">Mar</option>
                </select>
                </div>
    
                <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                  <option selected>please select a date</option>
                  <option value="1">025/60</option>
                  <option value="2">45/25</option>
                  <option value="3">58/82</option>
                </select>
                </div>
    
                <div>
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
               
              </form>
        
            </div>

            <div class="tab-pane fade p-3" id="nav-Cpt" role="tabpanel"
            aria-labelledby="nav-Cpt-tab">
            <h2>Cape town</h2>
            <form>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="live">
                  <label class="form-check-label" for="inlineRadio1">live</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="remote">
                  <label class="form-check-label" for="inlineRadio2">remote</label>
                </div>
    
                <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                  <option selected>please select a month</option>
                  <option value="1">Jan</option>
                  <option value="2">Feb</option>
                  <option value="3">Mar</option>
                </select>
                </div>
    
                <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                  <option selected>please select a date</option>
                  <option value="1">025/60</option>
                  <option value="2">45/25</option>
                  <option value="3">58/82</option>
                </select>
                </div>
    
                <div>
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form>
        
            </div>

            <div class="tab-pane fade p-3" id="nav-Durban" role="tabpanel"
            aria-labelledby="nav-Durban-tab">
            <h2>Durban</h2>
            <form>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="live">
                  <label class="form-check-label" for="inlineRadio1">live</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="remote">
                  <label class="form-check-label" for="inlineRadio2">remote</label>
                </div>
    
                <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                  <option selected>please select a month</option>
                  <option value="1">Jan</option>
                  <option value="2">Feb</option>
                  <option value="3">Mar</option>
                </select>
                </div>
    
                <div class="col-6">
                <select class="form-select" aria-label="Default select example">
                  <option selected>please select a date</option>
                  <option value="1">025/60</option>
                  <option value="2">45/25</option>
                  <option value="3">58/82</option>
                </select>
                </div>
    
                <div>
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form>
        
            </div>
          </center>            
        </div>
  {% endif %}

  </center>
{% endblock %}        