{% extends 'booking_page/base.html' %}

{% block content %}
<br>
<br>
<center>
<div class="tab-content col-6" id="pills-tabContent" >
<div class="tab-pane fade show active" id="pills" role="tabpanel" aria-labelledby="pills-tab">
	<div class="redo">
		<div class="form-group">
			<form action= "" method="POST"  >
				{% csrf_token %}
				
				{{ form.as_p }}

				<input type="submit" value="Reschedule" class="btn btn-outline-secondary ">
			</form>
		</div>
	</div>
</div>
</div>
</center>
{% endblock %}